PROJECT_URL=http://myserver.com:8088
RASA_URL=https://myserver.com:5005
ALLOW_REGISTER=1
DEBUG=1
APP_PORT=8088
TZ=Europe/Prague
SECRET_KEY="appsecretkey"
MAIL_SERVER="smtp-relay.google.com"
MAIL_PORT=465
MAIL_FROM="EDU-AI"
MAIL_USERNAME="username@gmail.com"
MAIL_PASSWORD="randompassword"
MYSQL_ROOT_PASSWORD="randompassword"
MFF_URL="https://qa.server.com"
MFF_WIKI_URL="https://wiki.server.com"
LIBRARY_URL="https://library.server.com"
