{% extends 'base.html' %}

{% block content %}

<body class="form-membership">
    <div class="form-wrapper">
        <div class="logo">
            <img src="{{PROJECT_URL}}{{url_for('static',filename='media/img/logo.png') }}">
        </div>
        <h5>Přihlásit se</h5>
        {% with messages = get_flashed_messages(with_categories=true) %}
        <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
            <!-- <strong>Title</strong> --> {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        {% if form.errors %}
        {% for error in form.errors %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
            <strong>{{form[error].label}}</strong>
            {{form.errors[error]}}
        </div>
        {% endfor %}
        {% endif %}

        <form method="POST">
            {{form.hidden_tag()}}
            <div class="form-group">
                {{form.email(class="form-control", placeholder="Email")}}
            </div>
            <div class="form-group">
                {{form.password(class="form-control", placeholder="Heslo")}}
            </div>
            <div class="form-group d-flex justify-content-between">
                <a href="{{url_for('public.reset_password')}}">Resetovat heslo</a>
            </div>
            {{form.submit(class="btn btn-primary btn-block")}}
            <hr style="display:none">
            <p class="text-muted" style="display:none">Login with your social media account.</p>
            <ul class="list-inline" style="display:none">
                <li class="list-inline-item">
                    <a href="#" class="btn btn-floating btn-facebook">
                        <i class="fa fa-facebook"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="#" class="btn btn-floating btn-twitter">
                        <i class="fa fa-twitter"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="#" class="btn btn-floating btn-dribbble">
                        <i class="fa fa-dribbble"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="#" class="btn btn-floating btn-linkedin">
                        <i class="fa fa-linkedin"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="#" class="btn btn-floating btn-google">
                        <i class="fa fa-google"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="#" class="btn btn-floating btn-behance">
                        <i class="fa fa-behance"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="#" class="btn btn-floating btn-instagram">
                        <i class="fa fa-instagram"></i>
                    </a>
                </li>
            </ul>
            <hr>
            <p class="text-muted">Ještě nemáte účet?</p>
            <a href="{{url_for('public.register')}}" class="btn btn-outline-light btn-sm">Registrujte se!</a>
        </form>
    </div>
</body>

{% endblock %}